.container {
	@apply flex w-full flex-col items-center gap-5 rounded-2xl bg-main-800 py-2 px-4;

	.img_container {
		@apply overflow-hidden rounded-md;
		width: 100%;

		@screen md {
			width: 50%;
		}
	}

	.content_wrapper {
		@apply flex flex-col gap-5 text-white;
		width: 100%;
		.head_content {
			@apply flex flex-col gap-3;
			> h2 {
				@apply text-2xl font-bold leading-8;
			}
			> p {
				@apply text-base font-semibold;
			}
			a {
				@apply text-pink-500 transition-all duration-150 hover:text-pink-300;
			}
		}

		.body_content {
			@apply flex flex-col gap-2 text-white;
			> h2 {
				@apply my-2 text-xl font-bold;
			}

			> p {
				word-wrap: break-word;
				width: 100%;
			}
			.platforms_wrapper {
				> h2 {
					@apply my-2 text-xl font-bold;
				}

				> div {
					@apply flex  flex-wrap gap-2;
					.platform {
						> div > p {
							@apply my-1;
						}
					}
				}
			}
		}
		@screen md {
			width: 50%;
		}
	}
}
